<h1>Tah-dah!</h1>

<%= form_for @todo, html: {class: "form"} do |f| %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>

<ul>
	<% @todos.each do |todo| %>
		<li> <%= link_to todo.name, todo %></li>
	<% end %>
</ul>