<main class="todo">

	<h1 class="todo__title">To-do!</h1>

	<%= form_for @todo, html: {class: "form"} do |f| %>
		<%= f.text_field :name, class: "form__input" %>
		<%= f.submit class: "form__submit" %>
	<% end %>

	<div class="todo__list">
		<% @todos.each do |todo| %>
			<div class="item">
				<div class="item__completed"> check </div>
				<div class="item__name"><%= todo.name %></div>
				<div class="item__delete"> delete </div>
			</div>
		<% end %>
	</div>
</main>