// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


$dark-blue: #283953;
$light-blue: #4F5C74;


%list-items {
	display: inline-block;
	font-size: 18px;
	padding: 10px;
	vertical-align: middle;
}

body {
	background: linear-gradient(to left, $dark-blue, $light-blue);
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.todo {
	background-color: #FFF;
	box-shadow: 3px 3px 6px 1px #1B2431;
	color: #58789A;
	margin: auto;
	max-width: 600px;
	padding: 20px 0;
	position: relative;
	text-align: center;
	top: 2%; left: 0; bottom: 2%; right: 0;
	width: 90%;

	&__list {
		margin: 10% auto 5%;
		width: 90%;
	}
}

.form__input {
	border: 0;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	color: $dark-blue;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 300;
	outline: 0;
	padding: 10px 0;
	width: 90%;
  transition: all .5s ease-out;

	&:focus {
		border-bottom: 1px solid $dark-blue;
		outline: none;
	}
}

.item {
	border: 1px solid $light-blue;
	font-size: 0;
	font-weight: 300;
	margin: 20px 0;

	&__check, &__delete {
		@extend %list-items;
		width: 6.9%;
	}

	&__delete a, &__check a {
		color: $dark-blue;
		transition: all .2s ease-out;
	}

	&__check--true a, &__check a:hover  {
		color: #80C851;
	}

	&__check--true a:hover {
		color: #CD4239;
	}

	&__name {
		@extend %list-items;
		border: 1px solid $dark-blue;
		border-width: 0 1px;
		width: 74%;

		&--true {
			text-decoration: line-through;
			color: #999;
		}
	}
}